<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- For database connection strings -->
	<connectionStrings>
		<add name="ProductInventoryDB"
             connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ProductInventoryDB;Integrated Security=True"
             providerName="**System.Data.SqlClient**" />
	</connectionStrings>
	</configuration>